* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  width: 100%;
}

header {
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  z-index: 1;
}

ul {
  list-style-type: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
  max-width: 400px;
}

form button.go {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
}

form input:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
}

form button {
  padding: 10px;
  cursor: pointer;
}

form input:focus {
  outline: none;
}

.list-group {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 992px) {
  .list-group {
    flex-direction: column;
  }
}

.list-group .uncompleted {
  background-color: green;
}

.list-group .completed {
  background-color: blue;
}

.list-group header {
  margin-bottom: 15px;
  font-size: 20px;
  color: #fff;
}

.list-items {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 15px;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: chocolate;
  padding: 10px;
  color: white;
}

.list-item span.icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}
